@model Medic.Entities.Category
@{
    ViewBag.Title = "Delete";
}

<h2>Delete Category</h2>
<h3>Are you sure you want to delete this Category?</h3>
<form method="post">

    <input type="hidden" name="ID" value="@Model.ID" />
    <br />
    
    <button type="submit">Delete</button>

</form>


<a href="/Category/Index">Cancel</a>

